.well {
    height: 400px;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .row {
    position: relative;
    top: 100px;
}

.alert-warning {
    position: absolute;
}

.form-padding {
    padding-top: 40px;
}

.images {
    width: 100%;
    height: 200px;
}

.button-group {
    display:flex;
    margin: 5px;
    position: relative;
    left: 100px;
    line-height: 10px;
}

.unit-button {
    border-radius: 5px;
}