
<div class="container well">

    <p *ngIf="error_message" class="alert alert-warning" role="alert">{{message}}</p>

    <div class="row">
        <div class="col-md">
            <form class="form-padding">
                <div class="form-group" style="display:flex;">
                    <input type="text"
                        class="form-control"
                        name="city"
                        [(ngModel)]="city_name"
                        placeholder="Enter city name"
                        (ngModelChange)="hideDisplay()">
                    <button id="fetch_weather" (click)="fetchWeather(this.selected_temperature_unit)">Submit</button>
                </div>
                <div class="button-group">
                    <button class="unit-button" (click)="showMetricTemperature()">Metric</button><button class="unit-button" (click)="showImperialTemperature()">Imperial</button>
                </div>
            </form>   
        </div>
        <p *ngIf="display_info" class="alert alert-success" style="padding: 10px; margin-top: 10px;">
            The current weather in {{city_name|uppercase}} is <strong>{{weather.description}}</strong> with temperature of <strong>{{temperature.temp}}{{temp_unit.const}}</strong> 
        </p>
    </div>
</div>

